/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500;700&family=Lato:wght@400;700&family=Quicksand:wght@300;400;500;600;700&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Para que el scrolleo en la one page sea suave */
    scroll-behavior: smooth;
    /*font-family*/
    font-family: 'Alkatra', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;

}

/* Para quitar los puntos a los items de listas */
ul {
    list-style: none;
}

/* Para que los enlaces hereden el color de texto y no tengan subrayado */
a {
    text-decoration: none;
    color: inherit;
}

.enlaces a:hover,
.enlaces a.active{
    color: #F7CACD; /* Nuevo color al hacer hover */
}


/* Este max-width es para que el contenido no se "estire" demasiado hacia los costados y
*  el margin: auto; para tenerlo centrado fácilmente ;)
*/
body{
    background-color:#f7cacd;
    width: 100%;
    padding-top: 10vh;
}

main {
    max-width: 1200px;
    margin: auto;
}

header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #64113F;
    color: white;
    height: 10vh;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
}

.enlaces {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.enlaces a {
    margin-right: 6vw;
}

#inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2vh;
}

#descripcion-cv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    text-align: center;
    margin: 2vh 5vw;
    padding: 1vh 1vw;
}

h1,h2 {
    text-align: center;
    margin: 1vh 2vh;
    padding: 1.5vh 1vw;
}

h2 {
    font-size: 24px;
}

section {
    min-height: 100vh;
}

#logo-eidos {
    width: 15vw;
    height: 18vh;
    margin-top: 1vh;
    padding: 1vh 1vw;
    min-width: 120px;
}

#redondeada {
    width: 20vw;
    height: 25vh;
    max-width: 1000px;
    min-width: 180px;
    max-height: 350px;
    min-height: 180px;
    border-radius:50%;
    border:1vw none black;
}

.iconos{
    margin-top: 6vh;
    margin-left: 6vw;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconos img {
    width: 15vw;
    max-width: 70px;
    min-width: 60px;
    height: 9vh;
    max-height: 80px;
    min-height: 60px;
    margin-right: 6vw;
}

#contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.info-contacto {
    width: 90%;
    height: 90%;
    background-color: #F29CA3;
    border-radius:20px;
    border:1vw none black;
}

#descargar-cv {
    background-color: #de4d86;
    width: 40%;
    max-width: 300px;
    min-width: 220px;
    height: 6vh;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: 3vh;
    font-weight: 500;
}


footer{
    background-color: #64113F;
    width: 100%;
    height: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#parrafo-footer {
    color: white;
    text-align: center;
}


/* Desktop */
@media (min-width: 1024px) {

    * {
        font-size: 22px;
    }

    h1 {
        font-size: 48px;
    }
    
    h2 {
        font-size: 32px;
    }

    #inicio {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 0;
    }

    #descripcion-cv {
        justify-content:flex-start;
        align-items: flex-start;
    }

    #descripcion-cv p {
        text-align: justify;
        margin: 1vh 2vh;
        padding: 1.5vh 1vw;
    }

    #descargar-cv {
        margin: 1vh 3vh;
    }

    section {
        min-height: 90vh;
    }
}

/*Ajustes para la imagen redondeada*/
@media (min-width: 1024px) and (max-width:1399px) {

    #redondeada {
        width: 450px;
        height: 250px;
    }
}

@media (min-width: 1400px){

    #redondeada {
        width: 40vw;
        height: 60vh;
    }
}
